{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
	<span class="smaller">Protocol: {{ protocol }}</span>
	<span class="smaller">Domain: {{ domain }}</span>
	<span class="smaller">Result: {{ res }}</span>
</div>
{% endblock content %}
